.envelope {
    display: grid;
    grid-template-areas:
      "selector selector" 
      "controls graph";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
}

.selector {
    margin: 4px 0px 0px 0px;
    padding: 4px 4px 4px 4px;
    background: lightgray;
    grid-area: selector;
}

.controls {
    grid-area: controls;
}

.graph {
    grid-area: graph;
}

.stage {
    display: grid;
    grid-template-areas:
      "index slider slope limit add remove";
    grid-template-columns: 50px auto 50px auto 28px 28px;
    grid-template-rows: auto;
}

.stageIndex, .stageSlider, .stageSlope, .stageLimit, .stageAdd, .stageRemove { 
    margin: 2px 2px 2px 2px;
    justify-self: center;
}

.stageIndex { grid-area: index }
.stageSlider { grid-area: slider; justify-self: stretch }
.stageSlope { grid-area: slope; justify-self: right }
.stageLimit { grid-area: limit }
.stageAdd { grid-area: add; justify-self: stretch }
.stageRemove { grid-area: remove; justify-self: stretch }

.graph {
    --borderWidth: 1px;
    --height: calc(127px + var(--borderWidth) * 2);

	width: 100%;
	height: var(--height);
	color: green;
	stroke-width: 1px;
	position: relative;
	border-style: solid;
	border-color: black;
	border-width: var(--borderWidth);
}