.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.scope {
    --borderWidth: 1px;
    --height: calc(256px + var(--borderWidth) * 2);

	width: 100%;
	height: var(--height);
	color: green;
	stroke-width: 1px;
	position: relative;
	border-style: solid;
	border-color: black;
	border-width: var(--borderWidth);
}

.waveEditor {
    --borderWidth: 1px;
    --height: calc(256px + var(--borderWidth) * 2);

	width: 100%;
	height: var(--height);
	color: green;
	stroke-width: 1px;
	position: relative;
	border-style: solid;
	border-color: black;
	border-width: var(--borderWidth);
}

.envelope {
    --borderWidth: 1px;
    --height: calc(127px + var(--borderWidth) * 2);

	width: 100%;
	height: var(--height);
	color: green;
	stroke-width: 1px;
	position: relative;
	border-style: solid;
	border-color: black;
	border-width: var(--borderWidth);
}