.lerp {
    display: grid;
    grid-template-areas:
      "selector selector" 
      "controls graph";
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
}

.selector {
    margin: 4px 0px 0px 0px;
    padding: 4px 4px 4px 4px;
    background: lightgray;
    grid-area: selector;
}

.controls {
    grid-area: controls;
}

.graph {
    grid-area: graph;
}

.graph {
    --borderWidth: 1px;
    --height: calc(127px + var(--borderWidth) * 2);

	width: 100%;
	height: var(--height);
	color: green;
	stroke-width: 1px;
	position: relative;
	border-style: solid;
	border-color: black;
	border-width: var(--borderWidth);
}